@charset "UTF-8";

/*
    Em HTML é id = em CSS é # (Só pode um elemento)
    Em HTML é class = em CSS é .(Pode vários elementos) 
*/

body{
    background-color: rgb(205, 255, 203); 
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(4, 109, 0);
}
h1#principal{
    text-align: center;
    background-color:rgb(4, 109, 0); ;
    color: white;
}
.basico{
    color: rgb(127, 255, 212);
    font-weight: bold;
}
.intermediario{
    color: rgb(0, 26, 255);
}
.avançado{
    color: rgb(72, 61, 139);
}
.destaque{
   background-color: grey;
}