@charset "UTF-8";

@media screen and (max-width: 768px) {

body{
    background: url(imagens/x-men\ blue.jpg) no-repeat right top;
    background-size: cover;
    background-attachment: fixed;

}
 .conteudo img{
    width: 200px;
    

 }   

 .conteudo h1{
    font-size: 1.8em;
    margin-left: 20px;
    text-align: center;
 }

 .conteudo p{
    color: white;
    font-weight: bolder;
    width: 40vw;
    font-size: 1.1em;
 }

 .capas h2{
    font-size: 1.4em;
 }

 .capas > a > img{
    width: 70%;
 }
}