@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
h1{
    text-align: center;
}
h2{
    text-align: left;
    font-size: 1.2em;
}
p{
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
}