@charset  "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em
    */
    font-size: 1em;
    /*lighter normal bold bolder*/
}
h1{
    /*shorthand font 
    font-style -> font-weight -> font-size -> font-family*/
    font: italic bolder 3em 'Work Sans', sans-serif;
}
h2{
    font:bold 2em 'Work Sans', sans-serif;
}