@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

body{
    font-family: "Work Sans", Arial, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}
h1{
    font-family: 'kaushan Script', sans-serif;
    font-size: 3em;
    font-weight: normal;
}
h2{
    font-family: "Eczar", serif;
    font-size: 2em;
}
p{
    font-family: "Eczar", serif;
}