@charset "UTF-8";

@media screen and (min-width: 480px) and (max-width: 768px) {

 .conteudo img{
    width: 200px;

 }   

 .conteudo h1{
    font-size: 1.8em;
    margin-left: 20px;
    text-align: center;
 }

 .conteudo p{
    width: 40vw;
    font-size: 1.1em;
 }
}