@charset "UTF-8";

nav{
    display: flex;
    align-items: center;
}
.mn{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.md{
    margin-left: auto;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}