@charset "UTF-8"

#{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    height:100%;
    background-image: radial-gradient(circle, red, brown);
}
img{
    width: 500px;
    border-bottom: 50px;
    text-align: center;
}
video{
    width: 500px;
    text-align: center;

}
h1{
    color: brown;
}
p{
    color: hwb(35 26% 52%);
    text-align: center;
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
